/*******************************************
ALL FORM
*******************************************/

.input-text-style
{
    background-color: #FFF;
}

.input-text-style
{
    border-radius: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.form-group
{
    margin-bottom: 40px;
}

.form-control
{
    box-shadow: none;
}

.form-error
{
    color: #FF4C4B;
    font-family: 'Oswald', sans-serif;
}

/*******************************************
LOGIN 
*******************************************/

.bloc-form
{
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.bloc-form p
{
    font-family: 'Oswald', sans-serif;
    margin-top: -20px;
    margin-bottom: 20px;
}

.edit-form
{
    background-color: #FFFFFF;
    border-bottom: 2px solid #96A0A6;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-bottom: 100px;
}

.edit-form-article
{
    background-color: #FFFFFF;
    border-bottom: 2px solid #96A0A6;
    width: 100%;
}

.edit-form-title
{
    font-family: 'Pacifico', sans-serif;
    color: #96A0A6;
    background-color: #E9E9ED;
    border-bottom: 4px solid #96A0A6;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-top: 10px;
}

.login-form
{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    padding: 20px;
    border-bottom: 2px solid #96A0A6;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.login-form a:hover
{
    text-decoration: none;
    color: #31ABBA;
}
