/***********************************************************************************************

INDEX CSS 

I       *** FONTS FAMILY & STYLE
II      *** FONTS SIZES
III     *** FONTS COLORS
IV      *** BACKGROUND COLORS
V       *** BORDER COLORS & SIZE
VI      *** BLOCS
VII     *** INPUT
VIII    *** LABEL
IX      *** PAGINATION
X       *** MEDIA QUERIES

***********************************************************************************************/

/*******************************************
I   -   FONTS FAMILY & STYLE
*******************************************/

.index-bloc-left p, .index-options-bloc, .index-options-bloc-sm
{
    font-family: 'Oswald', sans-serif;
}

.index-articles-titles, .index-title, .bloc-pagination-bt span, .index-link-read, .index-bloc-right label
{
    font-family: 'Pacifico', sans-serif;
}

.index-link-read
{
    font-style: italic;
}

/*******************************************
II   -   FONTS SIZES
*******************************************/

.index-bloc-right label, .bloc-pagination-bt span
{
    font-size: 18px;
}

.index-bloc-right label
{
    font-weight: 400;
}

.index-cat-list, 
{
    font-size: 18px;
}

.index-cat-list-sm
{
    font-size: 15px;
}

/*******************************************
III   -   FONTS COLORS 
*******************************************/

.index-cat-list a
{
    color: #2B5695;
}

.index-cat-list a:hover, .bloc-pagination-bt a:hover, .index-bloc-left a:hover
{
    color: #31ABBA;
    text-decoration: none;
}

.index-bloc-right label
{
    color: #333;
}

/*******************************************
IV   -   BACKGROUND COLORS 
*******************************************/

.index-bloc-left, .index-options-bloc
{
    background-color: #FFFFFF;
}

.index-options-bloc-sm
{
    background-color: rgba(0, 0, 0, 0);
}

.index-bloc-right label, .index-title
{
    background-color: #E9E9ED;
}

.bloc-form label
{
    background-color: #2B5695;
}

/*******************************************
V   -   BORDER COLORS & SIZE 
*******************************************/

.index-title
{
    border-bottom: 4px solid #96A0A6;
    padding-left: 10px;
    padding-top: 10px;
}

.index-bloc-right label
{
    border-bottom: 4px solid #96A0A6;
}

.index-options-bloc
{
    border-bottom: 1px solid #96A0A6;
}

/*******************************************
VI   -   BLOCS 
*******************************************/

.index-title
{
    padding-left: 10px;
    padding-top: 10px;
}

.index-bloc-left
{
    min-height: 650px;
}

.index-bloc-left, .index-bloc-right
{
    padding-left: 50px;
    padding-right: 50px;
}

.index-bloc-right label
{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    margin-top: 20px;
    margin-bottom: 0px!important;
}

.index-options-bloc
{
    width: 100%;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.index-options-bloc .form-group
{
    margin-bottom: 0px!important;
}

.index-options-bloc button
{
    margin-top: 20px;
}

.index-options-bloc-sm ul
{
    list-style-type: none!important;
    padding: 0;
}

/*******************************************
VIII   -   LABEL 
*******************************************/

.bloc-form label
{
    width: 100%;
    margin-bottom: 0px!important;
}

/*******************************************
IX   -   PAGINATION
*******************************************/

.bloc-pagination-bt span
{
    float: left;
    padding: 8px 16px;
}

/*******************************************
X   -   MEDIA QUERIES
*******************************************/

@media screen and (min-width: 1201px) {
   
    .showRight-index
    {
        display: none!important;
    }
}

@media screen and (max-width: 1200px) {
    
    .index-bloc-left
    {
        border-right: 0px;
    }
    
    .index-bloc-right
    {
        display: none!important;
    }
}

@media screen and (max-width: 1155px) {
    
    .index-bloc-left
    {
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 500px) {
    
    .index-bloc-left, .index-bloc-right
    {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .index-bloc-right
    {
        padding-left: 0px;
        padding-right: 0px;
    }
}
