/***********************************************************************************************

LAYOUT CSS

I       ***   FONTS FAMILY & STYLE
II      ***   FONTS SIZES
III     ***   FONTS COLORS 
IV      ***   BACKGROUND COLORS 
V       ***   BORDER COLORS & SIZE 
VI      ***   BLOCS
VI.1    ***   BLOCS > TOP HEADER
VI.2    ***   BLOCS > LOGO
VI.3    ***   BLOCS > MENU
VI.4    ***   BLOCS > CONTENT
VI.6    ***   BLOCS > FOOTER
VII     ***   PAGINATION
VIII    ***   BOX SHADOW
IX      ***   MEDIA QUERIES

***********************************************************************************************/

/*******************************************
I   -   FONTS FAMILY & STYLE
*******************************************/

.navbar-nav > li > a, .top-header-bloc, .social-network-bloc, .admin-links-bloc
{
    font-family: 'Oswald', sans-serif;
}

/*******************************************
II   -   FONTS SIZES
*******************************************/

.social-network-bloc p, .admin-links-bloc p
{
    font-size: 20px;
}

/*******************************************
III   -   FONTS COLORS 
*******************************************/

.top-header-links a:hover
{
    color: #2B5695;
    text-decoration: none;
}

.navbar-brand, .navbar-nav a
{
    color: #FFFFFF!important;
}

.navbar-nav a:hover
{
    color: #31ABBA!important;
}

.top-header-links a, .social-network-bloc a, .social-network-bloc p, .admin-links-bloc p, .admin-links-bloc a
{
    color: #FFFFFF;
}

.social-network-bloc a:hover, .admin-links-bloc a:hover
{
    color: #31ABBA;
    text-decoration: none;
}

.btn-custom
{
    color: #FFFFFF;
}

.link-custom
{
    color: #337ab7;
}

.btn-custom:hover
{
    color: #2B5695;
}

.link-custom:hover
{
    color: #31ABBA;
    text-decoration: none;
}

/*******************************************
IV   -   BACKGROUND COLORS 
*******************************************/

body
{
    background-color: #2B5695;
}

.top-header-bloc, .menu-bar, .btn-custom
{
    background-color: #31ABBA;
}

.logo:hover
{
    background-color: #032B54!important;
}

.navbar-default .navbar-toggle .icon-bar
{
    background-color: #FFFFFF!important;
}

.navbar-toggle
{
    background-color: rgba(0, 0, 0, 0)!important;
}

.footer-bar, .navbar-brand, .logo-bloc, .navbar-nav li:hover
{
    background-color: #2B5695;
}

.content-bloc
{
    background-color: #F7F7F7;
}

.btn-custom:hover
{
    background-color: #96A0A6;
}

/*******************************************
V   -   BORDER COLORS & SIZE 
*******************************************/

.navbar-toggle
{
    border: 0px;
}

.btn-custom
{
    border-radius: 0px;
}

/*******************************************
VI   -   BLOCS
*******************************************/

.btn-custom
{
    width: 100%;
}

/*********************************
VI.1   -   TOP HEADER
*********************************/

.top-header-bloc
{
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
}

.top-header-links a
{
    padding-left: 10px;
    padding-right: 10px;
}

/*********************************
VI.2   -   LOGO
*********************************/

.logo-bloc
{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

/*********************************
VI.3   -   MENU
*********************************/

.nav
{
    font-weight: 400;
}

.navbar
{
    margin-bottom: 0px!important;
}

.menu-bar
{
    border: none!important;
    border-radius: 0px!important;
}

.search-navbar-bloc
{
    float: right;
}

/*********************************
VI.4   -   CONTENT
*********************************/

.content-bloc
{
    
}

/*********************************
VI.6   -   FOOTER
*********************************/

.footer-bar
{
    min-height: 200px;
}

.admin-links-bloc ul
{
    padding: 0;
}

.admin-links-bloc ul
{
    list-style-type: none;
}

.admin-links-bloc li
{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

.social-network-bloc, .admin-links-bloc
{
    text-align: center;
}

.social-network-bloc p, .admin-links-bloc p
{
    padding-top: 20px;
}

.social-network-bloc a, .admin-links-bloc
{
    padding-left: 10px;
    padding-right: 10px;
}

/*******************************************
VII   -   PAGINATION
*******************************************/

.bloc-pagination-bt span
{
    float: left;
    padding: 8px 16px;
}

.bloc-pagination-bt a:hover
{
    text-decoration: none;
}

/*******************************************
VIII   -   BOX SHADOW
*******************************************/

.shadow-box-class
{
    box-shadow: 0 1px 2px rgba(0,0,0,.5);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*******************************************
IX   -   MEDIA QUERIES
*******************************************/

@media screen and (max-width: 1000px) {
    
    .admin-links-bloc li
    {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media screen and (max-width: 767px) {
    
    .social-network-bloc
    {
        padding-bottom: 20px;
    }
    
    .admin-links-bloc p
    {
        border-top: 1px solid #FFF;
    }
}

@media screen and (max-width: 285px) {
    
    .logo-bloc img
    {
        width: 185px;
    }
}
