/*******************************************
CONTAINERS
*******************************************/

.read-title-bloc
{
    color: #96A0A6;
    background-color: #ECECF0;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    margin-top: 40px;
    margin-bottom: 0px!important;
}

.reading-bloc
{
    text-align: justify;
    padding: 20px;
    border-top: 2px solid #96A0A6;
    margin-bottom: 40px;
}

.reading-font-bloc, .reading-size-bloc, .reading-color-bloc
{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.read-bloc-left
{
    min-height: 650px;
    padding-left: 50px;
    padding-right: 50px;
}

/*******************************************
READING OPTIONS - FONT
*******************************************/

.font-gara
{  
    font-family: 'EB Garamond', serif;
}

.font-bask
{
    font-family: 'Libre Baskerville', serif;
}

.font-open
{
    font-family: 'Open Sans', sans-serif;
}

.font-robo
{
    font-family: 'Roboto', sans-serif;
}

.font-aria
{
    font-family: 'Arial', sans-serif;
}

.font-time
{
    font-family: 'Times New Roman', sans-serif;
}

/*******************************************
READING OPTIONS - FONT SIZE
*******************************************/

.font-xs
{
    font-size: 1em;
}

.font-sm
{
    font-size: 1.2em;
}

.font-nm
{
    font-size: 1.4em;
}

.font-lg
{
    font-size: 1.8em;
}

.font-xl
{
    font-size: 2em;
}

/*******************************************
READING OPTIONS - COLORS
*******************************************/

.color-black-white
{
    color: #000000;
    background-color: #FFFFFF;
}

.color-white-black
{
    background-color: #000000;
    color: #FFFFFF;
}

/*******************************************
BUTTONS
*******************************************/

.reading-options-bt
{
    min-width: 120px;
    background-color: #31ABBA;
    color: #FFFFFF;
    border: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: 10px;
    font-size: 11px;
    font-family: 'Oswald', sans-serif;
}

.reading-options-bt:hover
{
    background-color: #FFFFFF;
    color: #2B5695;
}

.reading-options-bt-active
{
    background-color: #FFFFFF!important;
    color: #2B5695!important;
}


/*******************************************
MEDIA QUERIES
*******************************************/

@media screen and (max-width: 500px) {
    .cbp-spmenu-vertical
    {
        width: 250px!important;
        overflow: scroll;
    }
}