/***********************************************************************************************

READ CSS 

I       *** FONTS FAMILY & STYLE
I.1     *** FONTS FAMILY & STYLE > READING OPTIONS
II      *** FONTS SIZES
II.1    *** FONTS SIZES > READING OPTIONS
III     *** FONTS COLORS
III.1   *** FONTS COLORS > READING OPTIONS
IV      *** BACKGROUND COLORS
IV.1    *** BACKGROUND COLORS > READING OPTIONS
V       *** BORDER COLORS & SIZE
VI      *** BLOCS
VII     *** BUTTONS
VIII    *** MEDIA QUERIES

***********************************************************************************************/

/*******************************************
I   -   FONTS FAMILY & STYLE
*******************************************/

.reading-options-bt, .read-title-bloc small
{
    font-family: 'Oswald', sans-serif;
}

.read-title-bloc h2, .comments-title
{
    font-family: 'Pacifico', sans-serif;
}

/*********************************
I.1   -   READING OPTIONS
*********************************/

.font-gara
{  
    font-family: 'EB Garamond', serif;
}

.font-bask
{
    font-family: 'Libre Baskerville', serif;
}

.font-open
{
    font-family: 'Open Sans', sans-serif;
}

.font-robo
{
    font-family: 'Roboto', sans-serif;
}

.font-aria
{
    font-family: 'Arial', sans-serif;
}

.font-time
{
    font-family: 'Times New Roman', sans-serif;
}

/*******************************************
II   -   FONTS SIZES
*******************************************/

.reading-options-bt
{
    font-size: 11px;
}

.comments-title
{
    font-size: 25px;
}

/*********************************
II.1   -   READING OPTIONS
*********************************/

.font-xs
{
    font-size: 1em!important;
}

.font-sm
{
    font-size: 1.2em!important;
}

.font-nm
{
    font-size: 1.4em!important;
}

.font-lg
{
    font-size: 1.8em!important;
}

.font-xl
{
    font-size: 2em!important;
}

/*******************************************
III   -   FONTS COLORS 
*******************************************/

.read-title-bloc, .comments-title
{
    color: #96A0A6;
}

.reading-options-bt
{
    color: #FFFFFF;
}

.reading-options-bt:hover
{
    color: #2B5695;
}

.reading-options-bt-active
{
    color: #2B5695!important;
}

/*********************************
III.1   -   READING OPTIONS
*********************************/

.color-black-white
{
    color: #000000;
}

.color-white-black
{
    color: #FFFFFF;
}

/*******************************************
IV   -   BACKGROUND COLORS 
*******************************************/

.read-title-bloc, .comments-title
{
    background-color: #ECECF0;
}

.reading-options-bt
{
    background-color: #31ABBA;
}

.reading-options-bt:hover
{
    background-color: #FFFFFF;
}

.reading-options-bt-active
{
    background-color: #FFFFFF!important;
}

/*********************************
IV.1   -   READING OPTIONS
*********************************/

.color-black-white
{
    background-color: #FFFFFF;
}

.color-white-black
{
    background-color: #000000;
}

/*******************************************
V   -   BORDER COLORS & SIZE 
*******************************************/

.reading-bloc
{
    border-top: 2px solid #96A0A6;
}

.comments-title
{
    border-bottom: 2px solid #96A0A6;
}

/*******************************************
VI   -   BLOCS
*******************************************/

.read-title-bloc
{
    max-width: 1200px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    margin-top: 40px;
    margin-bottom: 0px!important;
    margin-left: auto;
    margin-right: auto;
}

.comments-title
{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.reading-bloc
{
    max-width: 1200px;
    text-align: justify;
    padding: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.reading-font-bloc, .reading-size-bloc, .reading-color-bloc
{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.read-bloc-left
{
    min-height: 650px;
    padding-left: 50px;
    padding-right: 50px;
}

.form-comment textarea
{
    resize: none;
}

/*******************************************
IIV   -   BUTTONS
*******************************************/

.reading-options-bt
{
    min-width: 120px;
    border: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: 10px;
}

/*******************************************
VIII   -   MEDIA QUERIES
*******************************************/

@media screen and (max-width: 500px) {
    .cbp-spmenu-vertical
    {
        width: 250px!important;
        overflow: scroll;
    }
    
    .read-bloc-left
    {
        padding-left: 10px;
        padding-right: 10px;
    }
}
