RewriteEngine on

RewriteBase /writer/web

RewriteRule ^accueil                            index.php?p=article-home
RewriteRule ^article/([0-9]+)                   index.php?p=article-read&id=$1
RewriteRule ^article/index/([0-9]+)             index.php?p=article-index&cp=$1
RewriteRule ^article/ajouter                    index.php?p=article-write
RewriteRule ^membre                             index.php?p=member
RewriteRule ^login                              index.php?p=user-login
RewriteRule ^inscription                        index.php?p=user-register
RewriteRule ^oublie                             index.php?p=user-forgot
RewriteRule ^activate                           index.php?p=user-activate
RewriteRule ^admin/articles/([0-9]+)            index.php?p=admin-article-index&cp=$1
RewriteRule ^admin/categories/([0-9]+)          index.php?p=admin-categorie-index&cp=$1
RewriteRule ^admin/commentaires/([0-9]+)        index.php?p=admin-comment-index&cp=$1
RewriteRule ^admin/users/([0-9]+)               index.php?p=admin-user-index&cp=$1
RewriteRule ^admin/article/edit/([0-9]+)        index.php?p=admin-article-edit&id=$1
RewriteRule ^admin/categorie/edit/([0-9]+)      index.php?p=admin-categorie-edit&id=$1
RewriteRule ^admin/user/edit/([0-9]+)           index.php?p=admin-user-edit&id=$1
RewriteRule ^admin/comment/edit/([0-9]+)        index.php?p=admin-comment-edit&id=$1
