RewriteEngine on

RewriteBase /writer/web/

RewriteRule ^/$                                         index.php?p=article-home
RewriteRule ^contact$                                   index.php?p=article-contact
RewriteRule ^article/([0-9]+)/([0-9]+)$                 index.php?p=article-read&id=$1&cp=$2
RewriteRule ^article/index/([0-9]+)$                    index.php?p=article-index&cp=$1
RewriteRule ^article/index/cat/([0-9]+)/([0-9]+)$       index.php?p=article-indexbycategory&id=$1&cp=$2
RewriteRule ^article/recherche/(.*)/([0-9]+)$           index.php?p=article-searchresults&key=$1&cp=$2 [QSA]
RewriteRule ^article/recherche/([0-9]+)$                index.php?p=article-searchresults&cp=$1 [QSA]
RewriteRule ^article/ajouter$                           index.php?p=article-write
RewriteRule ^membre$                                    index.php?p=user-member
RewriteRule ^login$                                     index.php?p=user-login
RewriteRule ^logout$                                    index.php?p=user-logout
RewriteRule ^inscription$                               index.php?p=user-register
RewriteRule ^oublie$                                    index.php?p=user-forgot
RewriteRule ^oublie/([a-zA-Z0-9]+)$                     index.php?p=user-forgotchange&c=$1
RewriteRule ^activate/([a-zA-Z0-9]+)$                   index.php?p=user-activate&c=$1
RewriteRule ^admin/articles/([0-9]+)$                   index.php?p=admin-article-index&cp=$1
RewriteRule ^admin/categories/([0-9]+)$                 index.php?p=admin-categorie-index&cp=$1
RewriteRule ^admin/commentaires/([0-9]+)$               index.php?p=admin-comment-index&cp=$1
RewriteRule ^admin/users/([0-9]+)$                      index.php?p=admin-user-index&cp=$1
RewriteRule ^admin/article/edit/([0-9]+)$               index.php?p=admin-article-edit&id=$1
RewriteRule ^admin/categorie/edit/([0-9]+)$             index.php?p=admin-categorie-edit&id=$1
RewriteRule ^admin/user/edit/([0-9]+)$                  index.php?p=admin-user-edit&id=$1
RewriteRule ^admin/comment/edit/([0-9]+)$               index.php?p=admin-comment-edit&id=$1

RewriteRule ^ajax/comments$                             index.php?p=article-ajaxComments
RewriteRule ^ajax/signal$                               index.php?p=article-ajaxSignalComments
RewriteRule ^ajax/delete-cat$                           index.php?p=admin-categorie-delete
RewriteRule ^ajax/delete-comment$                       index.php?p=admin-comment-delete
RewriteRule ^ajax/delete-article$                       index.php?p=admin-article-delete

ErrorDocument 404 /writer/web/index.php?p=app-notFound
